== ID: #{@user.id}
%br/
== Userame: #{@user.name}
%br/
== Extension: #{@user.extension}
%br/
== Trunk: #{@user.trunk}
%br/
== CallerID Name: #{@user.callerid_name}
%br/
== CallerID Number: #{@user.callerid_number}
%br/
== Password (hashed): #{@user.password}
%br/
Admin:
- if @user.admin
  Yes
- else
  No